.mat-card-avatar {
    background-image: url('/assets/images/jpg/logo.jpg');
    background-size: cover;
  }
  
  .mat-card-content {
    text-align: center;
  }

  .mat-card-image {
    margin-bottom: -6px !important;
  }